<div class="text-bg-dark text-center rounded-bottom py-4">
    <h1 class="display-4">
        Customer Relationship Manager (CRM)
    </h1>
</div>
<div class="p-4">
    <div class="row">
        <div class="col-md-4">
            <!-- Button to navigate to create customer component -->
            <button type="button" class="btn btn-primary btn-block mb-3" (click)="goToCreateCustomer()">Create Customer</button>
        </div>
        <div class="col-md-4">
            <!-- Button to navigate to list all customers component -->
            <button type="button" class="btn btn-primary btn-block mb-3" (click)="goToListCustomers()">List Customers</button>
        </div>

        <div class="col-md-4">
            <!-- Button to navigate to Update all customers component -->
            <button type="button" class="btn btn-primary btn-block mb-3" (click)="goToUpdateCustomers()">Update Customers</button>
        </div>

        <div class="col-md-4">
            <!-- Button to navigate to delete customer component -->
            <button type="button" class="btn btn-primary btn-block mb-3" (click)="goToDeleteCustomers()">Delete Customers</button>
        </div>
    </div>
</div>
