<app-crm-header></app-crm-header>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-6">
        <a href="/create-customer" (click)="goToCreateCustomer()" class="card-link">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">Create</h5>
              <p class="card-text">Click to create a customer</p>
            </div>
            <img src="../../assets/images/create.png" class="card-img-top" alt="Image for Card 1">
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="/customer-details" (click)="goToListCustomers()" class="card-link">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Read</h5>
              <p class="card-text">Read the stored Customer details</p>
            </div>
            <img src="../../assets/images/customer.png" class="card-img-top" alt="Image for Card 1">
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a href="/update-customer" (click)="goToUpdateCustomers()" class="card-link">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update</h5>
              <p class="card-text">Click here to update the stored customers</p>
            </div>
            <img src="../../assets/images/update.png" class="card-img-top" alt="Image for Card 1">
          </div>
        </a>
      </div>
      
      <div class="col-md-6">
        <a href="/delete-customers" (click)="goToDeleteCustomers()" class="card-link">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Delete</h5>
              <p class="card-text">Click here to delete the customers </p>
            </div>
            <img src="../../assets/images/delete.png" class="card-img-top" alt="Image for Card 1">
          </div>
        </a>
      </div>
    </div>
  </div>
  