
<app-crm-header></app-crm-header>

<div class="p-4">
    <div class="row">
        <div class="col-md-12">
            <app-crm-form></app-crm-form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of service.list">
                        <td (click)="populateForm(emp)">{{emp.firstName}}</td>
                        <td (click)="populateForm(emp)">{{emp.phoneNumber}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>